body > .navbar{
    padding-bottom : 0px;
    margin-bottom : 0px;
}

body > .navbar .brand {
  margin-right: 20px;
  font-weight: bold;
  color: #AAAAFF;
}

body > .navbar .navbar-search{
    margin-left:50px;
}
